body {

    background-color: rgb(234, 228, 212);
   }





.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
     

}

#img1 {

    border-radius: 185px;
    width: 9%;
    position: absolute;
    right: 0px;
    top: 15px;
}

.imgsql {

    border-radius: 10px;
    width: 19%;

}


nav {

    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 600px;
    font-size: 18px;
    background-color: black;
    border-radius: 15px;

   }

   nav a {
    color: rgb(213, 188, 188);
    padding: 8px;
    text-decoration: none;
   }
   nav a:hover {
    background-color: lightgrey;
    color: black;
    padding: 8px;
    border-radius: 15px;
   }

   h1 {

    display: flex;
    justify-content: center;
    margin-top: 45px;
   }