body {

    background-color: rgb(234, 228, 212);
   }

h1 {

display: flex;
justify-content: space-around;

}



.img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#img1 {

    border-radius: 185px;
    width: 9%;
    position: absolute;
    right: 0px;
    top: 15px;
}